

<link href="~/css/user/index.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row container-user-list"></div>

<div class="row container-user" style="display: none;">
    <div class="col-md-4">
        <div class="partial-user"></div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Foto</label>
        <div class="mb-4">
            <img src="~/images/sem-imagem.png" class="user-foto" alt="foto pessoal" id="imgImage" />
        </div>
    </div>
</div>

<script type="module" src="~/js/areas/user/cadastre/userregister.js"></script>

