@model IEnumerable<string>

    
<link href="~/css/user/index.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th> Nome </th>
            <th> Foto </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center; vertical-align: middle;"> @Html.DisplayFor(modelItem => item.Split("|", StringSplitOptions.RemoveEmptyEntries)[0]) </td>
                <td> <img src="@Html.DisplayFor(modelItem => item.Split("|", StringSplitOptions.RemoveEmptyEntries)[1])" title="user image" style="max-width: 15em;"/> </td>
            </tr>
        }
    </tbody>
</table>
